<section class="about" id="about">
  <h2 class="about__title">Sobre mi</h2>
  <div class="about__container">
    <div class="about__column1">
      <img
        src="./assets/images/photo.jpeg"
        alt=""
        class="about__column1--image"
      />
      <p class="about__column1--description">
        Como farmacéutica, he tenido la oportunidad de desarrollar habilidades
        relacionadas con la atención al cliente: empatía, paciencia, trabajo en
        equipo, proactividad y resolución de problemas. Soy una persona creativa
        a la cual le gusta la mejora continua, y descubrí en la programación
        Front-end la superación que buscaba. Tras un tiempo de autoformación,
        superé las pruebas para hacer el curso de Adalab, donde además de
        formación como Front-end, desarrollé mi capacidad de adaptabilidad, así
        como la habilidad de trabajar en equipo en remoto, poniendo por delante
        siempre el compañerismo y la empatía. En mi tiempo libre, colaboro como
        voluntaria en una asociación de rescate animal.
      </p>
    </div>
    <div class="about__column2">
      <h3 class="about__column2--title">Habilidades</h3>
    </div>
  </div>
</section>
