<section class="about" id="about">
  <h2 class="about__title">Sobre mi</h2>
  <div class="about__container">
    <div class="about__column1">
      <img
        src="./assets/images/photo.jpeg"
        alt=""
        class="about__column1--image"
      />
      <div>
        <p class="about__column1--description">
          Mi nombre es Lucía Mezquida y soy Programadora FrontEnd Jr., aunque no
          siempre ha sido así.
        </p>
        <p class="about__column1--description">
          Comencé mi andadura profesional como farmacéutica, donde aprendí a
          trabajar en equipo y a saber comunicarme con compañeros y clientes con
          empatía y paciencia. Pero ha sido en la programación donde por fin he
          encontrado la sinergia perfecta entre creatividad, resolución de
          problemas y la mejora continua.
        </p>
        <p class="about__column1--description">
          Después de un periodo de autoformación, pasé las pruebas del bootcamp
          Adalab Digital, donde fui formada en HTML, CSS, JavaScript y React,
          así como a trabajar en equipo dentro de la filosofía Agile, con el
          marco de trabajo Scrum, todo ello en remoto.
        </p>
        <p class="about__column1--description">
          Soy una persona proactiva, empática, asertiva y paciente, a la que no
          le da miedo enfrentarse a nuevos retos, con mucho entusiasmo y ganas
          de seguir aprendiendo con pasión y superación.
        </p>
      </div>
    </div>
    <h3 class="about__column2--title">Habilidades</h3>
    <div class="about__column2">
      <article class="about__column2--bubble">
        <h4 class="title">Desarrollo</h4>
        <div>
          <img
            src="//img.icons8.com/color/40/000000/javascript.png"
            alt="JavaScript"
            title="JavaScript"
            class="image"
          />
          <img
            src="//img.icons8.com/color/40/000000/react-native.png"
            alt="React"
            title="React"
            class="image"
          />
          <img
            src="//raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/jquery/jquery.png"
            height="38px"
            alt="jQuery"
            title="jQuery"
            class="image"
          />
          <img
            src="//raw.githubusercontent.com/devicons/devicon/master/icons/gulp/gulp-plain.svg"
            height="40px"
            alt="Gulp"
            title="Gulp"
            class="image"
          />
          <img
            src="//www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
            height="40px"
            alt="Git"
            title="Git"
            class="image"
          />
          <img
            src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/visual-studio-code/visual-studio-code.png"
            title="Visual Studio Code"
            alt="VS Code"
            height="40"
            class="image"
          />
          <img
            src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/terminal/terminal.png"
            title="Terminal"
            alt="terminal"
            height="40"
            class="image"
          />
        </div>
      </article>
      <article class="about__column2--bubble">
        <h4 class="title">Maquetación</h4>
        <div>
          <img
            src="//raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
            title="HTML"
            alt="html5"
            width="40"
            class="image"
          />
          <img
            src="//raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
            title="CSS"
            alt="css3"
            height="40"
            class="image"
          />
          <img
            src="//raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg"
            alt="sass"
            title="Sass"
            height="40"
            class="image"
          />
          <img
            src="//raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
            title="Bootstrap"
            alt="bootstrap"
            height="40"
            class="image"
          />
          <img
            src="//i.ibb.co/CP4H3cK/bem.png"
            title="BEM"
            alt="bem"
            height="30"
            class="image"
          />
          <img
            src="./assets/images/figma.png"
            title="Figma"
            alt="Figma"
            height="40"
            class="image"
          />
          <img
            src="./assets/images/zeplin.png"
            title="Zeplin"
            alt="Zeplin"
            height="40"
            class="image"
          />
        </div>
      </article>
      <article class="about__column2--bubble">
        <h4 class="title">Organización</h4>
        <div>
          <img
            src="//img.icons8.com/color/40/000000/trello.png"
            title="Trello"
            alt="Trello"
            height="40"
            class="image"
          />
          <img
            src="//img.icons8.com/fluent/40/000000/github.png"
            title="Github"
            alt="Github"
            height="40"
            class="image"
          />
          <img
            src="//img.icons8.com/color/40/000000/slack-new.png"
            title="Slack"
            alt="Slack"
            height="40"
            class="image"
          />
          <img
            src="//img.icons8.com/fluent/40/000000/discord-logo.png"
            title="Discord"
            alt="Discord"
            height="40"
            class="image"
          />
          <img
            src="./assets/images/scrum.png"
            title="Scrum"
            alt="Scrum"
            height="40"
            class="image"
          />
        </div>
      </article>
      <article class="about__column2--bubble">
        <h4 class="title">Aprendiendo...</h4>
        <div>
          <img
            src="./assets/images/node.png"
            title="Node"
            alt="Node"
            height="40"
            class="image"
          />
          <img
            src="./assets/images/mysql.png"
            title="MySQL"
            alt="MySQL"
            height="40"
            class="image"
          />
          <img
            src="//www.vectorlogo.zone/logos/jestjsio/jestjsio-icon.svg"
            title="Jest"
            alt="Jest"
            height="40"
            class="image"
          />
          <img
            src="//i.ibb.co/4pgxm15/testing-library.png"
            title="Testing Library"
            alt="Testing Library"
            height="40"
            class="image"
          />
          <img
            src="//img.icons8.com/color/45/000000/typescript.png"
            title="Typescript"
            alt="Typescript"
            height="40"
            class="image"
          />
          <img
            src="./assets/images/wordpress.png"
            title="Wordpress"
            alt="Wordpress"
            height="40"
            class="image"
          />
        </div>
      </article>
    </div>
  </div>
</section>
