<article class="main__card">
  <div class="main__container">
    <img
      class="main__container--image"
      src="@@image"
      alt="@@title"
      title="@@title"
    />
  </div>
  <div class="main__info">
    <div class="main__info-behind">
      <p class="main__info-description">@@description</p>
      <div class="main__info--icons">
        <a class="link icon" href="@@github" target="_blank">
          <img
            src="//img.icons8.com/wired/40/000000/github.png"
            class="image"
            alt="github link"
          />
        </a>
        <a class="link icon" href="@@href" target="_blank">
          <img
            src="//img.icons8.com/dotty/40/000000/laptop.png"
            class="image"
            alt="web link"
          />
        </a>
      </div>
    </div>
    <div class="main__info-name-icon">
      <p class="main__info--name">@@title</p>
      <div>
        <img
          class="icon-language"
          src="//img.icons8.com/color/35/000000/html-5.png"
          alt="HTML"
        />
        <img class="icon-language" src="@@language2" alt="@@alt" />
        <img class="icon-language" src="@@language3" alt="@@alt" />
      </div>
    </div>
  </div>
</article>
