<article class="main__card">
  <div class="main__container">
    <img
      class="main__container--image"
      src="@@image"
      alt="@@title"
      title="@@title"
    />
  </div>
  <div class="main__info">
    <div class="main__info-behind">
      <p class="main__info-description">@@description</p>
      <div class="main__info--icons">
        <a class="link icon" href="@@github" target="_blank">
          <i class="fab fa-github project-icon"></i>
        </a>
        <a class="link icon" href="@@href" target="_blank">
          <i class="fas fa-desktop project-icon"></i>
        </a>
      </div>
    </div>
    <div class="main__info-name-icon">
      <p class="main__info--name">@@title</p>
      <div class="main__info-container">
        <img
          class="icon-language"
          src="@@language1"
          alt="@@alt1"
          title="@@alt1"
        />
        <img
          class="icon-language"
          src="@@language2"
          alt="@@alt2"
          title="@@alt2"
        />
        <img
          class="icon-language"
          src="@@language3"
          alt="@@alt3"
          title="@@alt3"
        />
        <img
          class="icon-language"
          src="@@language4"
          alt="@@alt4"
          title="@@alt4"
        />
        <img
          class="icon-language"
          src="@@language5"
          alt="@@alt5"
          title="@@alt5"
        />
        <img
          class="icon-language"
          src="@@language6"
          alt="@@alt6"
          title="@@alt6"
        />
      </div>
    </div>
  </div>
</article>
