<article class="main__card">
  <div class="main__container">
    <!-- <img
      class="main__container--image"
      src="@@image"
      alt="@@title"
      title="@@title"
    /> -->
  </div>
  <div class="main__info">
    <div class="main__info-behind">
      <p class="main__info-description">@@description</p>
      <div class="main__info--icons">
        <a class="link icon" href="{githubLink}" target="_blank">
          <img
            src="//img.icons8.com/wired/40/000000/github.png"
            class="image"
            alt="github link"
          />
        </a>
        <a class="link icon" href="@@href" target="_blank">
          <img
            src="//img.icons8.com/dotty/40/000000/laptop.png"
            class="image"
            alt="web link"
          />
        </a>
      </div>
    </div>
    <p class="main__info--name">@@title</p>
  </div>
</article>
