<section id="contact" class="contact">
  <h2 class="contact__title">¿Hablamos?</h2>
  <nav>
    <ul class="contact__list">
      <li class="list">
        <a
          target="_blank"
          title="GitHub"
          href="//github.com/LuciaMezquida"
          class="contact__list--links"
        >
          <i class="fab-github"></i>
          <p class="contact__list--links-name">GitHub</p></a
        >
      </li>
      <li class="list">
        <a
          target="_blank"
          title="Twitter"
          href="//twitter.com/LuciCodes"
          class="contact__list--links"
        >
          <i class="fab-twitter"></i>
          <p class="contact__list--links-name">Twitter</p></a
        >
      </li>
      <li class="list">
        <a
          target="_blank"
          title="Linkedin"
          href="//www.linkedin.com/in/luciamezquidajuan/"
          class="contact__list--links"
        >
          <i class="fab-linkedin"></i>
          <p class="contact__list--links-name">Linkedin</p></a
        >
      </li>
      <li class="list">
        <a
          href="mailto:lucia.mezquida@gmail.com"
          class="contact__list--links"
          target="_blank"
          title="Email"
        >
          <i class="fab-email"></i>
          <p class="contact__list--links-name">Email</p></a
        >
      </li>
      <li class="list">
        <a
          href="//drive.google.com/file/d/10OATEEuKcttMCntzXNgWL8YZSnzxqn32/view?usp=sharing"
          class="contact__list--links"
          target="_blank"
          title="CV"
        >
          <i class="fab-cv"></i>
          <p class="contact__list--links-name">CV</p></a
        >
      </li>
    </ul>
  </nav>
</section>
