<section id="contact">
  <div class="contact-header"></div>
  <h2>More about me?</h2>
  <div class="contact-links">
    <a
      id="profile-link"
      target="_blank"
      href="https://github.com/LuciaMezquida"
      class="btn contact-details"
    >
      <i class="fab-github"></i>
      <p>GitHub</p></a
    >
    <a
      target="_blank"
      href="https://twitter.com/LuciCodes"
      class="btn contact-details"
    >
      <i class="fab-twitter"></i>
      <p>Twitter</p></a
    >
    <a
      target="_blank"
      href="https://www.linkedin.com/in/luc%C3%ADa-mezquida-juan-b102481b6/"
      class="btn contact-details"
    >
      <i class="fab-linkedin"></i>
      <p>Linkedin</p></a
    >
    <a href="" class="btn contact-details">
      <i class="fab-email"></i>
      <p
        id="email"
        onmouseover="change();"
        onmouseout="noChange();"
        onclick="change();"
      >
        Email
      </p></a
    >
  </div>
</section>
