<section id="contact" class="contact">
  <h2 class="contact__title">¿Más sobre mi?</h2>
  <nav class="contact__list">
    <a
      target="_blank"
      title="GitHub"
      href="https://github.com/LuciaMezquida"
      class="contact__list--links"
    >
      <i class="fab-github"></i>
      <p class="contact__list--links-name">GitHub</p></a
    >
    <a
      target="_blank"
      title="Twitter"
      href="https://twitter.com/LuciCodes"
      class="contact__list--links"
    >
      <i class="fab-twitter"></i>
      <p class="contact__list--links-name">Twitter</p></a
    >
    <a
      target="_blank"
      title="Linkedin"
      href="https://www.linkedin.com/in/luciamezquidajuan/"
      class="contact__list--links"
    >
      <i class="fab-linkedin"></i>
      <p class="contact__list--links-name">Linkedin</p></a
    >
    <a
      href="mailto:lucia.mezquida@gmail.com"
      class="contact__list--links"
      target="_blank"
      title="Email"
    >
      <i class="fab-email"></i>
      <p class="contact__list--links-name">Email</p></a
    >
  </nav>
</section>
