<header class="header">
  <nav>
    <ul class="header__navbar">
      <li class="list">
        <a class="header__navbar--link" href="#about" title="Sobre mí"
          >Sobre mi</a
        >
      </li>
      <li class="list">
        <a class="header__navbar--link" href="#projects" title="Mis proyectos"
          >Proyectos</a
        >
      </li>
      <li class="list">
        <a class="header__navbar--link" href="#contact" title="Contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <section class="header__welcome">
    <img
      src="./assets/images/jellyfish_opt.png"
      alt="jellyfish"
      class="header__welcome--image"
    />
    <h1 class="header__welcome--title">Hola, soy Lucia</h1>
    <div class="skill-container">
      <ul class="header__welcome--job flip3">
        <li class="list skill">Soy Frontend Developer Jr.</li>
        <li class="list skill">Soy creativa</li>
        <li class="list skill">Me gusta aprender cosas nuevas</li>
      </p>
    </div>
  </section>
</header>
