<header class="header">
  <nav id="welcome-section">
    <ul class="header__navbar">
      <li class="list">
        <a class="header__navbar--link" href="#welcome-section" title="About me"
          >About me</a
        >
      </li>
      <li class="list">
        <a class="header__navbar--link" href="#projects" title="My works"
          >My works</a
        >
      </li>
      <li class="list">
        <a class="header__navbar--link" href="#contact" title="Contact"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
  <section class="header__welcome">
    <h1 class="header__welcome--title">Hi, I am Lucia</h1>
    <p class="header__welcome--job">a front-end developer</p>
  </section>
</header>
