<h2 class="main__title">Mis proyectos</h2>
<section class="main__projects">
  <include
    src="./article.html"
    title="Citas aleatorias"
    href="//luciamezquida.github.io/random-quote-machine/"
    image="./assets/images/random-quote-machine.png"
    description="Generador de citas aleatorias con posibilidad de compartirla en Twitter"
  ></include>
  <include
    src="./article.html"
    title="Calculadora IMC"
    href="//luciamezquida.github.io/training-projects/calculo_imc/src/"
    image="./assets/images/imc-img.png"
    description="Calculadora que permite hacer el cálculo del índice de masa corporal, indicándote el estado de salud en función de tu peso añadiendo un consejo"
  ></include>
  <include
    src="./article.html"
    title="Tetris Game"
    href="//luciamezquida.github.io/javascript-games/luci-tetris/"
    image="./assets/images/tetris-img.png"
  ></include>
  <include
    src="./article.html"
    title="Awesome Profile Cards"
    href="//beta.adalab.es/project-promo-k-module-2-team-7/"
    image="./assets/images/divas-profile-cards.png"
  ></include>
  <include
    src="./article.html"
    title="Buscador Rick & Morty"
    href="//luciamezquida.github.io/rick-and-morty-finder/#/"
    image="./assets/images/rick-morty.png"
  ></include>
  <include
    src="./article.html"
    title="Space Invaders"
    href="//luciamezquida.github.io/space-invaders/"
    image="./assets/images/space-invaders.png"
  ></include>
</section>
<a
  href="//codepen.io/LuciaMezquida"
  class="main__button link"
  title="Más proyectos"
  target="_blank"
  >Más ></a
>
