<h2 class="main__title">Mis proyectos</h2>
<section class="main__projects">
  <include
    src="./article.html"
    title="Smiley Calendar"
    href="//smiley-calendar-luciamezquida.netlify.app/#/"
    github="//github.com/LuciaMezquida/smiley-calendar"
    image="./assets/images/smiley-calendar.png"
    description="App web para registrar los días en función de si nos ha ido bien 😃 o mal 😟, pudiendo añadir un comentario del porqué. Así, con el tiempo, se puede tener una vista general de cómo nos ha ido el año, pudiendo filtrar por días buenos y días malos, e incluso acceder a un día en concreto para saber porqué fue bien o mal ese día."
    language2="//img.icons8.com/color/35/000000/sass.png"
    language3="//img.icons8.com/color/35/000000/react-native.png"
  ></include>
  <include
    src="./article.html"
    title="Series finder"
    href="//luciamezquida.github.io/series-finder/"
    github="//github.com/LuciaMezquida/series-finder"
    image="./assets/images/series-finder.png"
    description="Luziflix es una aplicación de búsqueda de series que, a través de la API de TV Maze, permite buscar series por su título, marcarlos como favoritos y añadirlos a una lista de favoritos, que queda guardada después de hacer nuevas búsquedas."
    language2="//img.icons8.com/color/35/000000/sass.png"
    language3="//img.icons8.com/color/35/000000/javascript.png"
  ></include>
  <include
    src="./article.html"
    title="Favourite Videos App"
    href="//react-favourite-videos.netlify.app/"
    github="//github.com/LuciaMezquida/video-favourites-app"
    image="./assets/images/favourite-videos.png"
    description="Aplicación para poder guardar videos favoritos. Al hacer click sobre una de las imágenes de los videos accederemos a la reproducción del video y a la descripción."
    language2="//img.icons8.com/color/35/000000/sass.png"
    language3="//img.icons8.com/color/35/000000/react-native.png"
  ></include>
  <include
    src="./article.html"
    title="Div_as Profile Cards"
    href="//luciamezquida.github.io/project-promo-k-module-2-team-7/"
    github="//github.com/LuciaMezquida/project-promo-k-module-2-team-7"
    image="./assets/images/divas-profile-cards.png"
    description="Generador de tarjetas digitales personalizadas. Permite añadir nombre, profesión, foto y datos de contacto. Se genera un link con la tarjeta y se ofrece la posibilidad de compartirla por la cuenta de Twitter"
    language2="//img.icons8.com/color/35/000000/sass.png"
    language3="//img.icons8.com/color/35/000000/javascript.png"
  ></include>
  <include
    src="./article.html"
    title="Rick & Morty Finder"
    href="//luciamezquida.github.io/rick-and-morty-finder/#/"
    github="//github.com/LuciaMezquida/rick-and-morty-finder"
    image="./assets/images/rick-morty.png"
    description="Buscador de personajes de la serie Rick y Morty por nombre. Al clicar en cada personaje, aparece una tarjeta con información más detallada del mismo, como si está vivo o muerto o en cuántos episodios aparece. También es posible ordenar los personajes por orden alfabético"
    language2="//img.icons8.com/color/35/000000/sass.png"
    language3="//img.icons8.com/color/35/000000/react-native.png"
  ></include>
  <include
    src="./article.html"
    title="Space Invaders"
    href="//luciamezquida.github.io/space-invaders/"
    github="//github.com/LuciaMezquida/space-invaders"
    image="./assets/images/space-invaders.png"
    description="El mítico juego de Space Invades con temática de Boba Fett vs Predator, construido a partir de los tutoriales de juegos retro impartidos por Ania Kubow"
    language2="//img.icons8.com/color/35/000000/css3.png"
    language3="//img.icons8.com/color/35/000000/javascript.png"
  ></include>
</section>
<a
  href="//codepen.io/LuciaMezquida"
  class="main__button link"
  title="Más proyectos"
  target="_blank"
  >Más ></a
>
