<h2 class="main__title">Mis proyectos</h2>
<section class="main__projects">
  <include
    src="./article.html"
    title="Página tributo"
    href="https://luciamezquida.github.io/training-projects/freeCodeCamp/responsive-web-desing/tribute-page/"
    image="../assets/images/tribute-img.png"
  ></include>
  <include
    src="./article.html"
    title="Calculadora IMC"
    href="https://luciamezquida.github.io/training-projects/calculo_imc/src/"
    image="../assets/images/imc-img.png"
  ></include>
  <include
    src="./article.html"
    title="Tetris Game"
    href="https://luciamezquida.github.io/javascript-games/luci-tetris/"
    image="../assets/images/tetris-img.png"
  ></include>
  <include
    src="./article.html"
    title="Calculadora IMC"
    href="https://luciamezquida.github.io/training-projects/calculo_imc/src/"
    image="../assets/images/imc-img.png"
  ></include>
  <include
    src="./article.html"
    title="Calculadora IMC"
    href="https://luciamezquida.github.io/training-projects/calculo_imc/src/"
    image="../assets/images/imc-img.png"
  ></include>
  <include
    src="./article.html"
    title="Calculadora IMC"
    href="https://luciamezquida.github.io/training-projects/calculo_imc/src/"
    image="../assets/images/imc-img.png"
  ></include>
</section>
<a
  href="https://codepen.io/LuciaMezquida"
  class="btn btn-show-all"
  title="Más proyectos"
  target="_blank"
  >Más ></a
>
