.about {
  min-height: 100vh;
  background: $color-secondary;
  &__title {
    position: relative;
    z-index: 1;
    color: $color-font;
    font-family: $font-title;
    font-size: 5em;
    padding: 1.2em 0 0.6em;
    @media all and(min-width: 768px) {
      padding-bottom: 0.8em;
    }
  }
  &__container {
    padding: 0 6%;
  }
  &__column1 {
    text-align: left;
    &--image {
      position: relative;
      z-index: 1;
      width: 50%;
      max-width: 280px;
      border: 8px solid $color-tertiary;
      border-radius: 5px;
      margin: 0 6% 6% 0;
      float: left;
      @media all and(min-width: 768px) {
        width: 25%;
      }
    }
    &--description {
      position: relative;
      z-index: 1;
      color: $color-font;
      font-size: 1.8rem;
      padding-top: 12px;
      @media all and(min-width: 1024px) {
        font-size: 1.4rem;
      }
    }
  }
  &__column2 {
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media all and(min-width: 768px) {
      flex-wrap: wrap;
      flex-direction: row;
    }
    &--title {
      clear: left;
      color: $color-font;
      font-family: $font-title;
      font-size: 5em;
      padding-top: 28px;
      @media all and(min-width: 768px) {
        padding: 3%;
      }
    }
    &--bubble {
      visibility: hidden;
      width: 250px;
      height: 250px;
      padding: 10px;
      margin: 30px;
      background-image: url(../images/bubble.svg);
      background-size: cover;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .title {
        color: $color-font;
        font-family: $font-title;
        font-size: 2.4em;
        margin-bottom: 20px;
        @media all and(min-width: 1024px) {
          font-size: 1.4rem;
        }
      }
      .image {
        margin: 5px;
      }
    }
  }
}
.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  60% {
    transform: scale(1.2) rotate(15deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
