.about {
  height: 100vh;
  background: $color-secondary;
  &__title {
    color: $color-font;
    font-family: $font-title;
    font-size: 5em;
    padding: 1.2em 0 0.6em;
    @media all and(min-width: 768px) {
      padding: 1.3em 0;
    }
  }
  &__container {
    padding: 0 16px;
  }
  &__column1 {
    text-align: left;
    &--image {
      width: 50%;
      border: 8px solid $color-tertiary;
      border-radius: 5px;
      margin-right: 10px;
      float: left;
      @media all and(min-width: 768px) {
        width: 25%;
      }
    }
    &--description {
      color: $color-font;
      font-size: 1.8rem;
      @media all and(min-width: 768px) {
        font-size: 2.4rem;
      }
    }
  }
  // &__column2 {
  //   &--title {
  //     color: $color-font;
  //     font-family: $font-title;
  //     font-size: 2em;
  //   }
  // }
}
