.copyright {
  position: absolute;
  bottom: 10px;
  font-size: 1.4rem;
  text-align: center;
  color: $color-font;
  @media all and(min-width: 1024px) {
    font-size: 1.1rem;
  }
}
.fa-cat {
  color: $color-quaternary;
}
