.header {
  &__navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: $color-primary;
    z-index: 10;
    @media all and (max-width: 1024px) {
      justify-content: center;
    }
    &--link {
      padding: 0.8rem;
      display: flex;
      font-size: 2em;
      margin-right: 1.8rem;
      text-decoration: none;
      color: $color-font;
      font-weight: bolder;
      @media all and (min-width: 1024px) {
        font-size: 1.4em;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__welcome {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 6em;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(190deg, #2bb6b6 0%, #3a5555 100%);
    &--image {
      position: absolute;
      top: 20px;
      z-index: 0;
    }
    &--title {
      position: relative;
      color: $color-font;
      font-size: 6em;
      z-index: 1;
    }
    &--job {
      position: relative;
      z-index: 1;
      color: $color-primary;
      font-size: 2.5em;
      font-style: italic;
      font-weight: bolder;
      text-shadow: 2px 3px 6px black;
    }
  }
}
