.header {
  &__navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: #3d4844;
    z-index: 10;
    @media all and (max-width: 1024px) {
      justify-content: center;
    }
    &--link {
      padding: 0.8rem;
      display: flex;
      font-size: 2em;
      margin-right: 1.8rem;
      text-decoration: none;
      color: $color-font;
      font-weight: bolder;
      transition: ease 0.3s;
      @media all and (min-width: 1024px) {
        font-size: 1.4em;
      }
      &:hover {
        color: $color-quaternary;
      }
    }
  }
  &__welcome {
    padding: 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 6em;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(190deg, #2bb6b6 0%, #3a5555 100%);
    &--image {
      position: absolute;
      opacity: 0.8;
      top: 8%;
      left: 5%;
      z-index: 0;
      width: 90%;
      @media all and(min-width:768px) {
        width: 50%;
      }
      @media all and(min-width:1044px) {
        max-width: 650px;
      }
    }
    &--title {
      position: relative;
      color: $color-font;
      font-family: $font-title;
      font-size: 5.2em;
      padding-bottom: 16px;
      z-index: 1;
    }
    &--job {
      position: relative;
      z-index: 1;
      color: $color-font;
      font-size: 2.2em;
      font-weight: bolder;
    }
  }
}
.skill-container {
  overflow: hidden;
  position: relative;
  float: right;
  height: 75px;
}
.skill {
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}
.flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
