/*Projects section*/
.main {
  text-align: center;
  padding: 10em 0 0 0;
  background: $color-quaternary;
  &__title {
    color: $color-font;
    font-size: 5em;
    margin-bottom: 1.7em;
  }
  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
    margin-bottom: 6em;
  }
  &__card {
    margin: 30px;
    &:hover {
      .main__container--image {
        height: 0%;
        transition: 1s ease-in-out;
      }
    }
  }
  &__container {
    background: $color-tertiary;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    @media all and (min-width: 768px) {
      width: 400px;
      height: 350px;
    }
    @media all and (min-width: 1024px) {
      width: 500px;
      height: 450px;
    }
    &--image {
      height: calc(100% - 0.8em);
      width: 100%;
      object-fit: cover;
      padding-bottom: 5em;
      position: relative;
      z-index: 1;
      border-radius: 20px;
      transition: color 0.5s ease-out;
      display: block;
      transition: 1s ease-in-out;
    }
  }
  &__info {
    transform: translate(0, 0px);
    &--name {
      align-self: flex-end;
      font-size: 1.7em;
      color: $color-quaternary;
      font-weight: bolder;
      position: relative;
      z-index: 3;
      margin-top: -30px;
      @media all and (min-width: 1024px) {
        margin-top: -60px;
      }
    }
  }
  &__info-behind {
    transform: translate(0, -190px);
    height: 100%;
    @media all and (min-width: 768px) {
      transform: translate(0, -210px);
      justify-content: center;
    }
    @media all and (min-width: 1024px) {
      transform: translate(0, -220px);
    }
  }
  &__info-description {
    width: 300px;
    margin-bottom: 10px;
  }
  &__button {
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 2px;
    color: $color-quaternary;
    margin-bottom: 4em;
    font-size: 1.5em;
    background: $color-tertiary;
    transition: 1s ease-out;
    border-radius: 5px;
    &:hover {
      background: $color-primary;
      font-weight: bolder;
    }
  }
}
.link {
  text-decoration: none;
}
